<% content_for :title, @aukcje.nazwa %>
<% obs = 0 %>
<% status=0 %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 main">
      <h2><%= @aukcje.nazwa %></h2>
      <ol class="breadcrumb col-xs-12">
        <p class=" col-xs-7">
          <b class="img-thumbnail"><%= image_tag @aukcje.image.url(:medium) %></b>
        </p>

        <% if current_user %>
        <% if @obserwowanes.first.nil? %>
        <%= form_for Obserwowane.new do |o| %>
        <%= o.hidden_field :userid, :value => current_user.id, class:"form-control" %>
        <%= o.hidden_field :aukcje_id, :value => @aukcje.id, class:"form-control" %>
        <%= o.submit "Dodaj do obserwowanych", class:'btn btn-primary' %><br/><br/>
        <% end %>
      <% else %>
        <% @obserwowanes.each do |obserwowane| %>
        <% if current_user.id == obserwowane.userid && @aukcje.id == obserwowane.aukcje_id %>
        <% status += 1 %>
        <% obs = obserwowane %>
        <% end %>
        <% end %>
        <% if status == 0 %>
        <%= form_for Obserwowane.new do |o| %>
        <%= o.hidden_field :userid, :value => current_user.id, class:"form-control" %>
        <%= o.hidden_field :aukcje_id, :value => @aukcje.id, class:"form-control" %>
        <%= o.submit "Dodaj do obserwowanych", class:'btn btn-success' %><br/><br/>
        <% end %>
        <% end %>
        <% if status >= 1 %>
        <%= link_to "Przestań obserwować", obs, method: :delete, class:'btn btn-primary' %><br/><br/>
        <% status == -1 %>

        <% end %>
        <% end %>
        <% end %>
        <% if !@aukcje.isogloszenie %>
        <strong>Cena aktualna:</strong>
        <p>
          <%= @aukcje.cena_aktualna %></p>
        <strong>Najwyższa oferta:</strong>
        <p>
          <% if @aukcje.winner_id != nil %>
          <% @users.each do |user| %>
          <% if @aukcje.winner_id == user.id %>
          <%= user.login %></p>
        <% end %>
        <% end %>
      <% else %>
        Brak ofert</p>
      <% end %>
      <%= form_for @aukcje, :html => {:multipart => true}, id:"form1" do |f| %>
      <% if @aukcje.ended == false %>
      <% if current_user %>
      <% if current_user.id != @aukcje.user_id %>
      <%= f.text_field :cena_aktualna, class: "form-control", id: "bid" %><br>
              <%= f.hidden_field :winner_id, :value => current_user.id ,:readonly => true, class:"form-control" %><br>
              <%= f.submit "Licytuj", class:'btn btn-primary', id: "bidbutton" %>

      <% end %>

    <% else %>
      <%= link_to "Zaloguj się by licytować", new_user_session_path, class: 'btn btn-primary' %>
      <% end %>
      <% end %>
      <% if @aukcje.ended == true %>
      <p>
        Ta aukcja została zakończona
      </p>
      <% end %>
      <% end %>
      <% else %>
      <p>
        Ta aukcja została zakończona
      </p>
      <% end %>
    </ol>
  </div>
</div>
</div>
<br>
<% if !@aukcje.isogloszenie %>
<h5>Opis aukcji</h5>
<% else %>
<h5>Opis ogłoszenia</h5>
<% end %>
<hr>
<div class="container">
<%= raw(@aukcje.opis) %>
</div>
<hr>
Do końca pozostało:
<%= distance_of_time_in_words(Time.now, @aukcje.created_at + 14.days) %>
