<% content_for :title, @aukcje.nazwa %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 main">
      <p><%= @aukcje.nazwa %></p>
      <ul>
        <p><%= image_tag @aukcje.image.url(:medium) %></p>
      </ul>

  </div>
</div>
</div>
<div class="jumbotron">
  <strong>Cena aktualna:</strong><p> <%= @aukcje.cena_aktualna %></p>
  <%= form_for @aukcje, :html => {:multipart => true} do |f| %>
  <%= f.text_field :cena_aktualna, class: "form-control", id: "bid" %><br>
    <%= f.submit "Licytuj", class:'btn btn-primary', id: "bidbutton" %>
  <% end %>
</div>
<hr>
<div class="jumbotron">
  <%= raw(@aukcje.opis) %>
  </div>

Do końca pozostało:
<%= distance_of_time_in_words(Time.now, @aukcje.created_at + 14.days) %>
