<%= render 'kategories_table' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active text-center">
              <a href="<%= aukcje_path(@aukcjes) %>">
                <%= @aukcjes.nazwa %><br><b class="img-thumbnail img-responsive"><%= image_tag @aukcjes.image.url(:medium) %></b>
              </a>
            </div>

            <div class="item text-center">
              <a href="<%= aukcje_path(@aukcj) %>">
                <%= @aukcj.nazwa %><br><b class="img-thumbnail img-responsive"><%= image_tag @aukcj.image.url(:medium) %></b>
              </a>
            </div>

            <div class="item text-center">
              <a href="<%= aukcje_path(@aukcje) %>">
                <%= @aukcje.nazwa %><br><b class="img-thumbnail img-responsive"><%= image_tag @aukcje.image.url(:medium) %></b>
              </a>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

    </div>
  </div>
</div>
