<%= render 'kategories_table' %>

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-8 main">
        <p>Może Cię zainteresować:</p>
        <a href="<%= aukcje_path(@aukcje) %>">
          <%= @aukcje.nazwa %><br><b class="img-thumbnail"><%= image_tag @aukcje.image.url(:medium) %></b>
        </a>
        <br><br>
        <%= link_to "Wyszukiwanie zaawansowane", new_search_path, class:'btn btn-primary' %>
    </div>
  </div>
</div>
