<h4 class="text-center">Witaj w Let's Bid It!</h4>
<%= render 'kategories_table' %>
<h4 class="text-left">Może Cię zainteresować:</h4>
<div class="row">
  <div class="col-xs-12">
    <table>

      <% @kategorie.each do |kat| %>
      <% a=kat.aukcje.pluck(:id).last %>
      <% @aukcje.each do |aukcja| %>
      <% if aukcja.id == a %>
      <th>
        <ul class="breadcrumb">
          <p>
            <a href="<%= aukcje_path(aukcja) %>">
              <%= image_tag aukcja.image.url(:medium), class:"img-responsive" %>
              <%= aukcja.nazwa.first(18) %>
            </p>
          </a>
        </ul>
      </th>
      <% end %>
      <% end %>
      <% end %>
    </table>
  </div>
  <% if current_user %>
  <% if @obserwowane.any? %>
  <div class="col-xs-12">
    <h4 class="text-left">Aktualnie obserwujesz:</h4>
    <table>
      <% status = 0 %>
      <% @obserwowane.each do |obserwowane| %>
      <% @aukcje.each do |aukcja| %>

      <% if obserwowane.aukcje_id == aukcja.id %>
      <% if current_user.id == obserwowane.userid %>
      <% status += 1 %>
      <th>
        <ul class="breadcrumb">
          <p>
            <a href="<%= aukcje_path(aukcja) %>">
              <%= image_tag aukcja.image.url(:medium), class:"img-responsive" %><%= aukcja.nazwa %>
            </a>
          </p>
        </ul>
      </th>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
    </table>
    <% if status == 0 %>
    <h5 class="text-left">Nie obserwujesz żadnej aukcji</h6>
    <% end %>
    <% end %>
    <% end %>
  </div>
