<h1>Panel Administratora</h1>

<%= link_to "Kategorie", kategories_path, class: 'btn btn-success btn-lg' %>
<%= link_to "Aukcje", aukcjes_path, class: 'btn btn-success btn-lg' %>
<%= link_to "Użytkownicy", home_uzytkownicy_path, class: 'btn btn-success btn-lg' %>
<%= link_to "Administratorzy", home_administratorzy_path, class: 'btn btn-success btn-lg' %>
<%= link_to "Statysyki", home_statystyki_path, class: 'btn btn-success btn-lg' %>
