<h1>Aukcje Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @aukcje.each do |aukcje| %>
    <li>
      <h3>
        <%= link_to aukcje.title, controller: "aukcjes", action: "show", id: aukcje._id%>
      </h3>
    </li>
  <% end %>
</ul>
