<% content_for :title, " - Podgląd kategorii." %>
  <% licznik = 0 %>
   <p> <h2><strong><%= @kategorie.nazwa_kategorii %></strong></h2>
      <div class="col-md-3">

        <table class="table table-hover">
          <x class="text-left">Lista podkategorii:</x>
        <% for kategorie in @kategorie.children %>
        <tr>
        <th>
          <%= link_to h(kategorie.nazwa_kategorii), kategorie %>
        </th>
      </tr>
        <br>
        <% end %>
      </table>
      <%= link_to "Wróć na poprzednią stronę", :back, class: "btn btn-default" %>
      </div>
      <div class="col-md-9">
        <div class="jumbotron">
           Aukcje należące do kategorii <%= @kategorie.nazwa_kategorii %>:
        <table class="table table-hover">
        <% @aukcje.each do |aukcja| %>
        <% if aukcja.kategorie_id == @kategorie.id %>
        <tr>
          <th>
            <% licznik += 1 %>
          <%= image_tag aukcja.image.url(:thumb) %> <%= link_to aukcja.nazwa, aukcje_path(aukcja) %>
          <% if aukcja.ended == false %>
          -> <%= distance_of_time_in_words(Time.now, aukcja.created_at + 14.days) %> do końca</h4>
          <% else %>
          -> Aukcja zakończona
          <% end %>
      </th>
    </tr>
    <% end %>
    <% end %>
    <% if licznik <=0 %>
    <tr>
      <th>
        <h3 class="text-center">
          Brak aukcji do wyświetlenia!
        </h3>
      </th>
    </tr>
      <% end %>
    </table>
</div>
      </div>

</div>
