<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header navbar-inverse">
      <%= link_to "Strona Główna", root_path, class: 'navbar-brand' %>
      <% if current_admin %>
      <%= link_to "Panel Użytkownika", home_panel_uzytkownika_path, class: 'navbar-brand' %>
        <%= link_to "Panel Administracyjny", home_panel_administratora_path, class: 'navbar-brand' %>
        <%= link_to "Edycja profilu", edit_admin_registration_path, class: 'navbar-brand' %>
        <%= link_to "Wylogowanie", destroy_admin_session_path, method: :delete, class: 'navbar-brand' %>
      <% end %>
      <% if current_user %>
        <%= link_to "Panel Użytkownika", home_panel_uzytkownika_path, class: 'navbar-brand' %>
        <%= link_to "Edycja profilu", edit_user_registration_path, class: 'navbar-brand' %>
        <%= link_to "Wylogowanie", destroy_user_session_path, method: :delete, class: 'navbar-brand' %>
      <% end %>
      <% if !current_admin && !current_user %>
      <%= link_to "Rejestracja", new_user_registration_path, class: 'navbar-brand' %>
      <%= link_to "Logowanie", new_user_session_path, class: 'navbar-brand' %>
      <% end %>
    </div>
  </div>
</nav>
