<!DOCTYPE html>
<html>
  <head>
    <title>Praca Licencjacka</title>
    <%= csrf_meta_tags %>
    <script src="//cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
    <script type="text/javascript">
      var CKEDITOR_BASEPATH = '/assets/ckeditor/';
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 caption">
      <%= yield %>
  </div>
  <div class="footer">
    <%= render 'layouts/footer' %>
  </div>
  </body>
</html>
